{% extends "layout.html" %}
{% block title %}
    {{ profile_media._id }}'s Home Page
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if g.user %}
    {% if request.endpoint == 'user_contentline' %}
      <div class="followstatus">
      {% if g.user._id == profile_media._id %}
        This is you!
      {% elif followed %}
        You are currently following this media.
        <a class="unfollow" href="{{ url_for('unfollow_user', username=profile_media._id)
          }}">Unfollow media</a>.
      {% else %}
        You are not yet following this media.
        <a class="follow" href="{{ url_for('follow_user', username=profile_media._id)
          }}">Follow media</a>.
      {% endif %}
      </div>
    {% elif request.endpoint == 'contentline' %}
      <div class="twitbox">
        <h3>What's on your mind {{ g.user._id }}?</h3>
        <form action="{{ url_for('add_message') }}" method=post>
          <p><input type=text name=text size=60><!--
          --><input type=submit value="Share">
        </form>
      </div>
    {% endif %}
  {% endif %}
  <ul class="messages">
  {% for message in messages %}
    <li><img src="{{ g.get_user(message.author_id).email|gravatar(size=48) }}"><p>
      <strong><a href="{{ url_for('user_timeline', username=message.author_id)
      }}">{{ message.author_id }}</a></strong>
      {{ message.text }}
      <small>&mdash; {{ message.pub_date|datetimeformat }}</small>
    <p  align=right style='text-align:right'><small><a href="">Reply</a> &nbsp; <a href="">Forward</a></small></p>
  {% else %}
    <li><em>There's no message so far.</em>
  {% endfor %}
  </ul>
{% endblock %}
