{% extends "layout.html" %}
{% block title %}
    Plaza
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  <ul class=hottest>
 	Hottest Repartees
 {% for repartee in repartees %}
    <li><img src="{{ g.get_user(media._id).email|gravatar(size=48) }}"><p>
      <strong><a href="{{ url_for('media', medianame=media._id)
      }}">{{ media._id }}</a></strong>
      {{ media._id }}
      <small>&mdash; {{ media.copyrights }}</small>
  {% else %}
    <li><em>There's no media so far.</em>
  {% endfor %}
  </ul>
  <ul class=newest>
 	Newest Repartees:
 {% for media in medias %}
    <li><img src="{{ g.get_user(media._id).email|gravatar(size=48) }}"><p>
      <strong><a href="{{ url_for('media', medianame=media._id)
      }}">{{ media._id }}</a></strong>
      {{ media._id }}
      <small>&mdash; {{ media.copyrights }}</small>
  {% else %}
    <li><em>There's no media so far.</em>
  {% endfor %}
  </ul>
  <ul class=liferules>
	Latest liferules:
  {% for liferule in liferules %}
    <li><img src="{{ g.get_user(liferule.author_id).email|gravatar(size=48) }}"><p>
      <strong><a href="{{ url_for('repartee.user_repartee', username=liferule.author_id)
      }}">{{ liferule.author_id }}</a></strong>
      {{ liferule.text }}
      <small>&mdash; {{ liferule.pub_date|datetimeformat }}</small>
      {% if g.user %}
        <p  align=right style='text-align:right'><small><a href="">Reply</a> &nbsp; <a href="">Forward</a></small></p>
      {% endif %}
  {% else %}
    <li><em>There's no liferule so far.</em>
  {% endfor %}
  </ul>
{% endblock %}
