<div class="replybox">
    <form class="replyform" id="replyform{{hostid}}" action="{{ url_for('reply_liferule') }}"
    method="post">
    <p>
        <textarea class="newreply" id="newreply{{hostid}}" name="text"></textarea>
        <input type="hidden" name="hostid" value="{{hostid}}" />
        <!--
          -->
        <input type="submit" value="Reply">
    </form>
    <ul class="replies" id="replies{{hostid}}">
        {% for liferule in replies %}
        <li>
            <img src="{{ g.get_user(liferule.author_id).email|gravatar(size=48)}}"><p>
                <strong><a href="{{ url_for('user_repartee', username=liferule.author_id)
    }}">{{ liferule.author_id }}</a></strong> {{ liferule.text }} <small>&mdash; {{ liferule.pub_date|datetimeformat
        }}</small> {% if g.user %}
                <p align="right" style='text-align: right'>
                    <small><a href="#" id="reply">Reply</a></small></p>
        {% endif %} {% else %} {% endfor %}
    </ul>
</div>
<script type="text/javascript">
    // wait for the DOM to be loaded
    $(document).ready(function () {
        var options = {
            beforeSubmit: validateNewReply,
            success: prependReply
        };

        $(".replyform").ajaxForm(options);
    });

    function validateNewReply(formData, jqForm, options) {
        var form = jqForm[0];
        if (!form.text.value) {
            //alert('not null!');
            return false;
        }

        return true;
    }

    function prependReply(responseText, statusText) {
        //alert(responseText);
        // GET NEWEST REPLY ID THAT I POST 
        // DOESN'T INCLUDE OTHER USER'S REPLY TO THIS MESSAGE
        $.getJSON($SCRIPT_ROOT + '/_get_new_reply', function (data) {
            var hostid = data.hostid;
            var liferuleid = data.liferuleid;
            var liferulepubdate = data.liferulepubdate;
            var imgsrc = data.imgsrc;
            var div = document.createElement("div");
            div.innerHTML = "<li><img src='" + imgsrc + "'><p> " +
                    "<strong><a href='{{url_for('user_repartee', username=g.user._id)}}'>{{ g.user._id}}</a></strong>&nbsp; " + $('#newreply' + hostid).val()
                    + "<small>&mdash; " + liferulepubdate + "</small><p align='right' style='text-align: right'><small><a href='#' data-liferuleid='#comments" + liferuleid + "' class='comment'>Reply</a></small></p><p><br /><div class='comments hidden' id='comments" + liferuleid + "'></div></p></p></li>";
            //alert('ul#replies'+hostid);
            $('ul#replies' + hostid).prepend(div);
            $('textarea#newreply' + hostid).val('');
        });
        return false;
    }
</script>
